repos:
  - hooks:
      - id: check-toml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-case-conflict
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending
    repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
  - hooks:
      - id: check-json5
    repo: https://gitlab.com/bmares/check-json5
    rev: v1.0.1
  - hooks:
      - args:
          - --fix
        id: ruff-check
      - id: ruff-format
    repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
  - hooks:
      - id: pyright
    repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.408
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.28
    hooks:
      - id: uv-lock
  - repo: https://github.com/tarioch/flux-check-hook
    rev: v0.8.0
    hooks:
      - id: check-flux-helm-values
  - repo: https://github.com/google/yamlfmt
    rev: v0.21.0
    hooks:
      - id: yamlfmt
        # exclude flux which is auto-generated
        exclude: ^cluster/flux-system
  - repo: local
    hooks:
      - id: cloudflared-config
        name: Cloudflared Config
        entry: uv run cluster/cloudflared/create-config.py
        language: system
        pass_filenames: false
        always_run: true
