apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: paperless-postgresql-deployment
  namespace: paperless
spec:
  replicas: 1
  serviceName: paperless-postgresql
  selector:
    matchLabels:
      app: paperless-postgresql
  template:
    metadata:
      labels:
        app: paperless-postgresql
    spec:
      nodeSelector:
        role: apps
      containers:
        - env:
            - name: POSTGRES_USER
              value: paperless
            - name: POSTGRES_DB
              value: paperless
          envFrom:
            - secretRef:
                name: paperless-env
          # registry-proxy image-prefix
          image: cr.nathanv.app/docker.io/library/postgres:18.2
          name: postgresql
          ports:
            - containerPort: 5432
          volumeMounts:
            - mountPath: /var/lib/postgresql/
              name: postgresql-vol
      volumes:
        - name: postgresql-vol
          persistentVolumeClaim:
            claimName: paperless-pvc-postgresql
