apiVersion: apps/v1
kind: Deployment
metadata:
  name: ghost-deployment
  namespace: ghost
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ghost
  template:
    metadata:
      labels:
        app: ghost
    spec:
      nodeSelector:
        role: apps
      initContainers:
        - name: permission-fix
          # registry-proxy image-prefix
          image: cr.nathanv.app/docker.io/library/busybox:1.37.0
          command: ['sh', '-c']
          args: ['chown -R 1000:1000 /var/lib/ghost/content']
          volumeMounts:
            - mountPath: /var/lib/ghost/content
              name: ghost-vol
      containers:
        - env:
            - name: url
              value: "https://christmas.nathanv.app"
            - name: database__client
              value: mysql
            - name: database__connection__host
              value: ghost-mysql-service.ghost.svc.cluster.local
            - name: database__connection__user
              value: ghost
            - name: database__connection__database
              value: ghost
            - name: mail__transport
              value: SMTP
            - name: mail__options__port
              value: "587"
            - name: mail__from
              value: Ghost <ghost@nvaughn.email>
          envFrom:
            - secretRef:
                name: ghost-env
          # registry-proxy image-prefix
          image: cr.nathanv.app/docker.io/library/ghost:6.12.0
          # 6.4.0 not aviable on amd64
          # hash issue with 6.10.3
          name: ghost
          ports:
            - containerPort: 2368
          volumeMounts:
            - mountPath: /var/lib/ghost/content
              name: ghost-vol
      volumes:
        - name: ghost-vol
          persistentVolumeClaim:
            claimName: ghost-pvc
