apiVersion: apps/v1
kind: Deployment
metadata:
  name: adsb-planefinder-deployment
  namespace: adsb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: planefinder
  template:
    metadata:
      labels:
        app: planefinder
    spec:
      nodeSelector:
        role: apps
      containers:
        - env:
            - name: RECEIVER_TYPE
              value: relay
            - name: BEASTHOST
              value: readsb-data-service.adsb.svc.cluster.local
            - name: BEASTPORT
              value: "30005"
          envFrom:
            - secretRef:
                name: adsb-env
          # registry-proxy image-prefix
          image: cr.nathanv.app/ghcr.io/sdr-enthusiasts/docker-planefinder@sha256:e28fcc32c7ab34e80d2d6705aa71c55b8e5369c7578570e4ecace4cbc747a70e
          name: planefinder
          volumeMounts:
            - mountPath: /run
              name: planefinder-run-vol
      volumes:
        - name: planefinder-run-vol
          emptyDir:
            medium: Memory
            sizeLimit: 64M
