apiVersion: apps/v1
kind: Deployment
metadata:
  name: adsb-piaware-deployment
  namespace: adsb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: piaware
  template:
    metadata:
      labels:
        app: piaware
    spec:
      nodeSelector:
        role: apps
      containers:
        - env:
            - name: RECEIVER_TYPE
              value: relay
            - name: BEASTHOST
              value: readsb-data-service.adsb.svc.cluster.local
            - name: BEASTPORT
              value: "30005"
            - name: ALLOW_MLAT
              value: "yes"
          envFrom:
            - secretRef:
                name: adsb-env
          # registry-proxy image-prefix
          image: cr.nathanv.app/ghcr.io/sdr-enthusiasts/docker-piaware@sha256:c08da73177fd20dad213e29555141ead7970cda6ea3d3c222242200d739192ac
          name: piaware
          volumeMounts:
            - mountPath: /run
              name: piaware-run-vol
      volumes:
        - name: piaware-run-vol
          emptyDir:
            medium: Memory
            sizeLimit: 64M
