apiVersion: apps/v1
kind: Deployment
metadata:
  name: adsb-planefinder-deployment
  namespace: adsb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: planefinder
  template:
    metadata:
      labels:
        app: planefinder
    spec:
      nodeSelector:
        role: apps
      containers:
        - env:
            - name: RECEIVER_TYPE
              value: relay
            - name: BEASTHOST
              value: readsb-data-service.adsb.svc.cluster.local
            - name: BEASTPORT
              value: "30005"
          envFrom:
            - secretRef:
                name: adsb-env
          # registry-proxy image-prefix
          image: cr.nathanv.app/ghcr.io/sdr-enthusiasts/docker-planefinder@sha256:ab08a055b1408aeb02ae28cf13649dc60dda88c6395cc2bfc27d2827cff6dbfa
          name: planefinder
          volumeMounts:
            - mountPath: /run
              name: planefinder-run-vol
      volumes:
        - name: planefinder-run-vol
          emptyDir:
            medium: Memory
            sizeLimit: 64M
