apiVersion: apps/v1
kind: Deployment
metadata:
  name: adsb-flightradar24-deployment
  namespace: adsb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flightradar24
  template:
    metadata:
      labels:
        app: flightradar24
    spec:
      nodeSelector:
        role: apps
      containers:
        - env:
            - name: RECEIVER_TYPE
              value: relay
            - name: BEASTHOST
              value: readsb-data-service.adsb.svc.cluster.local
            - name: BEASTPORT
              value: "30005"
            - name: MLAT
              value: "yes"
          envFrom:
            - secretRef:
                name: adsb-env
          # registry-proxy image-prefix
          image: cr.nathanv.app/ghcr.io/sdr-enthusiasts/docker-flightradar24@sha256:12f77e02e9458bdd9c3ab26fc66be08a5d437395611c8bcc97d88342d7beef2f
          name: flightradar24
          volumeMounts:
            - mountPath: /run
              name: flightradar24-run-vol
      volumes:
        - name: flightradar24-run-vol
          emptyDir:
            medium: Memory
            sizeLimit: 64M
